@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');

/* ######### GERAL ######### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #fffffa;
    --paragraph: #08415C;
    --form-color: #58a4b0;
    --footer-color: #a08794;
    --orange-light: #e8871e;

    font-size: 62.5%; /* 1rem = 10px*/
}

html,body{
    width:100%;
    height:100%;
}
body{
    background-color: var(--main-color);
   
    font-family: 'Inter', sans-serif;
    font-size:1.8rem;
    font-weight: normal;
    font-style: normal;
    

    text-align: center;


    overflow: overlay;
}
h1#title{
    font-size: 4.8rem;
    font-style: normal;
    font-weight: bold;
    
    
    color: var(--paragraph);
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
p#description{
    font-weight: 300;
    font-size: 1.9rem;
    width: 100%;
    color: var(--paragraph);
    margin-top:3rem;
    margin-bottom: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;

}
div.icon{
    background-color: var(--main-color);
    display: inline-block;
    padding: 1.8rem;
    margin: auto;
    
    
}
form#survey-form, label{
    background-color: var(--main-color);
    width: 100vw;
    padding: auto;
}
label#name-label{
    padding-right: 3.5rem;
    padding-left: 1.7rem;

}
label#email-label{
    padding-right: 3.5rem;
    padding-left: 1.7rem;

}
label#age-label{
    padding-right: 3.5rem;
    padding-left: 1.7rem;

}
label{
    color: var(--paragraph);
}
option{
    color: var(--paragraph);
}
section{
    background-color: var(--main-color);
}
input#name{
   
    background-color: var(--main-color);
    color: var(--paragraph);
  
    border-radius: 0.3rem;
}
input#email{
   
    background-color: var(--main-color);
    color: var(--paragraph);
  
    border-radius: 0.3rem;
}
input#age{
   
    background-color: var(--main-color);
    color: var(--paragraph);
  
    border-radius: 0.3rem;
}
form#survey-form label#name-label, label#email-label, label#age-label{
    display: inline-block;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2.2rem;

    text-align: center;
}
.copyright-footer{
    display: inline-block;
    flex-direction: row;
    font-weight: 900;
    margin-top: 40rem;
    margin-left: auto;
    margin-right:auto ;
    font-size: 1.3rem;
    color: #08415C;
}
.footer-icon{
    display: inline-block;
    flex-direction: row;
    font-weight: 900;
    margin-left: 10rem;
    font-size: 1.3rem;
    color: #08415C;
}
fieldset.estado{
    margin-bottom: 2rem;
    background-color: var(--main-color);
    border: none;
}
fieldset.objetivo{
    margin-bottom: 2rem;
    border: none;
}
fieldset.servico{
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: none;
}
