@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');

/* ######### GERAL ######### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #fffffa;
    --paragraph: #08415C;
    --form-color: #58a4b0;
    --footer-color: #a08794;
    --orange-light: #e8871e;
    
    font-size: 62.5%; /* 1rem = 10px*/
}
html,body{
    width: 100%;
    height:100%;
}
body{
    font-family: 'Inter', sans-serif;

}



